services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DB_NAME=online_store_db
      - DB_USER=store_user
      - DB_PASSWORD=store_password
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db

  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=online_store_db
      - POSTGRES_USER=store_user
      - POSTGRES_PASSWORD=store_password

volumes:
  postgres_data: